# Output directory for HTML files
output/
Gemfile.lock
asciidoctor-epub3/
asciidoctor-pdf/
master.html
master.pdf
.DS_Store
images/.DS_Store
reqsIA-subject.adoc
Guardfile
master.docx
master_SebRevueChap4_d2019-10-18.docx
test.docx
